<div class='col-md-8'>
    <!-- POSTS -->
    <div class="post">
        <div class="wrap-ut pull-left">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img src="~/forum/images/avatar.jpg" alt="">
                    <div class="status green">&nbsp;</div>
                </div>

            </div>
            <div class="posttext pull-left">
                <h2><a href="/Detail/Index">Something we need to focus on this week.</a></h2>
                <small>Friday at 10:05 am</small>
                <div class="post-content m-t-15">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cumque tempore animi esse ad quisquam vel minus. Sunt, corrupti et non inventore deleniti maiores repellendus impedit, assumenda enim facilis sapiente.
                    </p>
                </div>
                <div class="tag">
                    <span class="badge badge-color1">Share Investment</span>
                    <span class="badge badge-color2">General Idea</span>
                </div>
                <!-- <ul class="postAction list-unstyled m-t-15" role="">
                    <li class="postactionItem"><a class="btn btn-link" href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Like</a></li>
                    <li class="postactionItem"><a class="btn btn-link" href="./comment.html"><i class="fa fa-comments" aria-hidden="true"></i>Comment </a></li>
                    <li class="postactionItem"><button class="btn btn-link" href="#"><i class="fa fa-share" aria-hidden="true"></i>Share</a></li>

                </ul> -->


            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfo pull-left">
            <div class="dotmenu dropdown">
                <a href="#" class="dots  dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dot"></div>
                </a>
                <div class="dropdown-menu" role="dot-menu" aria-labelledby="dropdownMenuButton">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-star" aria-hidden="true"></i> Add to Watch List</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-2" href="#"><i class="fa fa-comment" aria-hidden="true"></i>  Comment</a></li>

                </div>
            </div>
            <div class="comments">
                <div class="commentbg">
                    560
                    <div class="mark"></div>
                </div>
            </div>
            <div class="views"><i class="fa fa-eye"></i> 1,568</div>

        </div>
        <div class="clearfix"></div>
    </div>

    <!-- POSTS -->
    <div class="post">
        <div class="wrap-ut pull-left">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img src="images/avatar3.jpg" alt="">
                    <div class="status red">&nbsp;</div>
                </div>

            </div>
            <div class="posttext pull-left">
                <h2><a href="detail.html">Something we need to focus on this week.</a></h2>
                <small>Friday at 10:05 am</small>
                <div class="post-content m-t-15">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cumque tempore animi esse ad quisquam vel minus. Sunt, corrupti et non inventore deleniti maiores repellendus impedit, assumenda enim facilis sapiente.
                    </p>
                </div>
                <div class="tag">
                    <span class="badge badge-color1">Share Investment</span>
                    <span class="badge badge-color2">General Idea</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfo pull-left">
            <div class="dotmenu dropdown">
                <a href="#" class="dots  dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dot"></div>
                </a>
                <div class="dropdown-menu" role="dot-menu" aria-labelledby="dropdownMenuButton">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-star" aria-hidden="true"></i> Add to Watch List</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-2" href="#"><i class="fa fa-comment" aria-hidden="true"></i>  Comment</a></li>

                </div>
            </div>
            <div class="comments">
                <div class="commentbg">
                    560
                    <div class="mark"></div>
                </div>
            </div>
            <div class="views"><i class="fa fa-eye"></i> 1,568</div>

        </div>
        <div class="clearfix"></div>
    </div>

    <!-- POSTS -->
    <div class="post">
        <div class="wrap-ut pull-left">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img src="images/avatar2.jpg" alt="">
                    <div class="status green">&nbsp;</div>
                </div>

            </div>
            <div class="posttext pull-left">
                <h2><a href="detail.html">Something we need to focus on this week.</a></h2>
                <small>Friday at 10:05 am</small>
                <div class="post-content m-t-15">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cumque tempore animi esse ad quisquam vel minus. Sunt, corrupti et non inventore deleniti maiores repellendus impedit, assumenda enim facilis sapiente.
                    </p>
                </div>
                <div class="tag">
                    <span class="badge badge-color1">Share Investment</span>
                    <span class="badge badge-color2">General Idea</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfo pull-left">
            <div class="dotmenu dropdown">
                <a href="#" class="dots  dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dot"></div>
                </a>
                <div class="dropdown-menu" role="dot-menu" aria-labelledby="dropdownMenuButton">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-star" aria-hidden="true"></i> Add to Watch List</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-2" href="#"><i class="fa fa-comment" aria-hidden="true"></i>  Comment</a></li>

                </div>
            </div>
            <div class="comments">
                <div class="commentbg">
                    560
                    <div class="mark"></div>
                </div>
            </div>
            <div class="views"><i class="fa fa-eye"></i> 1,568</div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>