
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Ekle</h1>

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" class="form-control border" style="background-color:cyan" asp-for="CategoryName" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>